body {
    background-color: #fafafa;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3em;
}

ul {
    margin: 50px 0 0 0;
}

hr {
    margin-top: 80px;
}

.navbar {
    background-color: white;
}

.language-button {
    font-size: .8em;
}

.logo {
    width: 10%;
}

.logo-text {
    margin-left: 20px;
    display: inline;
}

.first-nav {
    margin-top: 40px;
}

.custom-nav {
    margin-left: 20px;
}

.content {
    margin: 5% 20% 0;
}

.section-title {
    margin: 80px 0;
    text-align: center;
}

.profile-pic-container {
    text-align: center;
    margin: 125px 0;
}

.profile-pic {
    width: 50%;
    border-radius: 15%;
}

.link {
    color:#c9492f;
}

.link:hover {
    color: #1e6444;
}

@media (max-width: 1000px){

    .content {
        margin: 5% 5% 0;
    }

    .profile-pic-container {
        text-align: center;
        margin: 25px 0 80px;
    }
    
    .profile-pic {
        width: 75%;
        border-radius: 15%;
    }

}